* {
    font-family: 'Jameel Noori Nastaleeq';
    text-transform: capitalize;
    text-decoration: none;
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 /* header section starts   */

 header {
     width: 96%;
     background: #fff;
     position: fixed;
     top: 2rem;
     left: 50%;
     transform: translateX(-50%);
     border-radius: 5rem;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 1rem 2rem;
     z-index: 1000;
     transition: .2s;
 }

 .header-active {
     top: 0;
     width: 100%;
     border-radius: 0;
     box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3);
 }

 header .navbar ul {
     display: flex;
     align-items: center;
     justify-content: space-between;
     list-style: none;
     direction: rtl;
     color: #155768;
 }

 header .navbar ul li {
     margin: 0 1rem;
 }

 header .navbar ul li a {
     font-size: 2rem;
     color: #155768;
     transition: .2s;
 }

 header .navbar ul li .active,
 header .navbar ul li a:hover {
     color: blue;
 }

 header .logo {
     font-size: 2.5rem;
     color: #555;
 }

 header .logo i {
     color: #555;
     padding: 0 .2rem;
 }
 
    /* home section starts */
        .home {
            min-height: 100vh;
            background: #155768;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            z-index: 0;
            overflow: hidden;
            position: relative;
        }
    
        .home .content {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            padding-top: 14rem;
            padding-bottom: 8rem;
            text-align: center;
        }
    
        .home .content h1 {
            font-size: 5rem;
            color: #fff;
            padding: 0 1rem;
            text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
        }
    
    
        .home .content p {
            font-size: 2.5rem;
            color: #eee;
            padding: 1rem 25rem;
        }
    
        .home .box-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            direction: rtl;
        }
    
        .home .box-container .box {
            height: 35rem;
            width: 25rem;
            background: #fff;
            text-align: center;
            border-radius: 1rem;
            box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .5);
            margin: 2rem;
            cursor: pointer;
        }
    
        .home .box-container .box i {
            height: 4rem;
            width: 4rem;
            line-height: 4rem;
            text-align: center;
            border-radius: 50%;
            color: #fff;
            background: #155768;
            font-size: 2rem;
            margin: 2rem 0;
            transition: .2s;
        }
    
        .home .box-container .box h3 {
            font-size: 2.5rem;
            color: #155768;
            transition: .2s;
        }
    
        .home .box-container .box p {
            font-size: 1.5rem;
            padding: .7rem 2rem;
            color: #555;
        }
    
        .home .box-container .box button {
            height: 4rem;
            width: 20rem;
            border-radius: 5rem;
            background: #155768;
            color: #fff;
            font-size: 2rem;
            cursor: pointer;
            transition: .2s;
            border: none;
            box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .3);
            margin-top: 10px;
        }
    
        .home .box-container .box button:hover {
            letter-spacing: .2rem;
            opacity: .8;
        }
    
        .home .box-container .box:hover i {
            letter-spacing: .2rem;
            opacity: .8;
        }
    
        .home .box-container .box:hover h3 {
            letter-spacing: .1rem;
        }
    
        .home::before {
            content: '';
            position: absolute;
            bottom: -25rem;
            left: 50%;
            transform: translateX(-50%);
            border-top: 70vh solid #fff;
            width: 120%;
            border-radius: 50%;
            z-index: -1;
        }

/* Home section ends */

.home .content h1 {
    font-size: 5rem;
    color: #fff;
    padding: 0 1rem;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
}


.home .content p {
    font-size: 2.5rem;
    color: #eee;
    padding: 1rem 25rem;
}

.gallery .box-container .box {
    width: 28rem;
    padding-bottom: 1rem;
    text-align: center;
    box-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 30%);
    background: #fff;
    margin: 1rem 2rem;
}
.gallery .box-container .box h3 {
    margin-top: 0.5rem;
    font-size: 2rem;
    color: #155768;
    padding: 0 0.5rem;
}